<p>{{ map.title }}</p>

<p>{{ map.description }}</p>
<hr />
<button (click)="reset()">Reset!</button>
<button (click)="lancerSolver()">Solve!</button>
<button (click)="lancerSolverBruteForcer()">Solve brut force!</button>


<p>Tableau de taille {{ map?.tableau.length }} * {{ map?.tableau[0].length }}</p>
<div>&#x1f1eb;

  <p ngClass={{map.getInformation().level.color}} *ngIf="map.getInformation()">{{ map.getInformation().message }}</p>
</div>
<table>
  <caption>Tableau des cellules</caption>

  <tbody>
    <tr *ngFor="let row of map.tableau">
      <td *ngFor="let cell of row" (click)="selectCase(cell)"
        [ngClass]="[cell.getStatus().color, cell.isLocked ? 'border_red' : 'border_black']">


        [{{ cell.x }}, {{ cell.y }}] - {{ cell.getStatus().value }}

      </td>
    </tr>
  </tbody>
</table>
